- if local_assigns[:disabled].nil? && (local_assigns[:form_action].nil? || can?(local_assigns[:form_action], model)) && can?(:update, model) && (local_assigns[:if].nil? || (local_assigns[:if] == true))
  - frame_id = dom_id(model, "#{field}_frame")
  - frame_to_reload_after_update = local_assigns[:frame_to_update].nil? ? frame_id : local_assigns[:frame_to_update]
  = form_with model: model, url: local_assigns[:url], class: "editable", data: { turbo_frame: frame_to_reload_after_update, controller: "editable" } do 
    = hidden_field_tag :editable, true  
    = turbo_frame_tag frame_id, class: "editor" do
      %span.value-container{data: {action: "dblclick->editable#show"}}
        %span.value= yield
        = link_to local_assigns[:edit_url], class: "toggle-editor", data: {"editable-target": "pencil"} do
          %i.bi.bi-pen
- else
  = turbo_frame_tag frame_id, class: "editor" do
    = yield
